{
    "turning_offset": 23,
    "forward_A": 0,
    "forward_B": 0,
    "bremsfaktor": 0.7,
    "v_max": 60,
    "v_min": 30,
    "korrektur_proportional": 50,
    "korrektur_integral": 10,
    "korrektur_differential": 150,
    "korrektur_integral_min_boundary": -30,
    "korrektur_integral_max_boundary": 30,
    "kd_weight": 0.1,
    "slew_rate": 3,
    "ir_sensor_weights": [
        2,
        1,
        0,
        -1,
        -2
    ],
    "ir_sensor_min_values": [
        160.4,
        146.5,
        145.2,
        166.4,
        166.3
    ],
    "ir_sensor_max_values": [
        288.5,
        287.1,
        287.9,
        290.0,
        286.9
    ],
    "calibration_line_threshold": 73
}